body{
  color: black;
  font-family: 'Montserrat', sans-serif;
}

html, body{ 
  width:100%; 
  height:100%; 
  margin:0;  
}

.home{
  width: 100%;
  height:100%;
  background-image: url('blue-pineapple.jpg');
  background-size: cover;
}

.home-text{
  color:white;
  margin-top: 220px;
}

#loginForm{
  margin-top: 100px;
  font-size: 20px;
}

.loginFormText{
  margin-bottom: 20px;
}

#Loginbutton, #Signupbutton{
  margin-top: 20px;
}

#Signupbutton{
  background: orange;
  color: white;
  border-color: orange;
}

#Loginbutton{
  color:black;
  background: white;
  border-color: white;
}

#signupsubmitbutton{
  margin-top: 20px
}

.form-entry{
  width: 150px;
  border-radius: 20px;
  margin-bottom: 10px;
}

#signup{
  color:black;
  margin-top: 150px;
  font-size: 15px
  
}

.signupMessage{
  margin-bottom: 20px
}

.nav-button,.edit-profile-dropdown{
margin-top: 20px;
}

.index-header{
  margin-top:50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.preferences{
  font-size:25px;
}
`
/* Index page */ 
.index-page{
  background: #293E4D;
  color:white;
  font-family: 'Montserrat', sans-serif;

}

.left-col{
  height:240px;
  background: moccasin;
}

.right-col{
  height:240px;
  background: peachpuff;
}

.preferences-header{
  margin-top: 25px;

}

#preference{
  list-style-type: none;
}

#preference li label{
  padding:10px;
  font-size: 15px;
  font-weight: 200;
  
  }

.view-preferences{
  margin-top: 200px
}

.linkToPrefs,.linkToEditPrefs,.button-back-to-index{
  background: #333;
  color: white;
}

.button-back-to-index{
  margin-top:20px;
}

.preferences_new{
  background: #293E4D;
  font-family: 'Montserrat', sans-serif;
  color:white;
  font-weight: 200;
  height:100%;
  padding-top: 30px;

}

.recommendations{
  font-family: 'Montserrat', sans-serif;
  background:white ;
  color:#293E4D;

}

.recommendations p a{
  color:#337ab7;
  font-weight: 700;
}

.nav-button, #Signupbutton, #Loginbutton {
  font-family: 'Montserrat', sans-serif;
}

.nav-button-edit-profile{
  background: #333;
  color: white;
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
}



.recommendations-text{
  margin-top: 20px;
}

#editUserButton{
  background: #333;
  color: white;
  font-family: 'Montserrat', sans-serif;

}
.edit-profile-dropdown{
  background: #333;
  color: white;
  border-color: #333;

}

.edit-profile-dropdown:hover{
    color: #fff;
    background-color: darkslategray;
    border-color: #333;
}

.edit-page{
  font-family: 'Montserrat', sans-serif;
  border: 3px solid #333;
  margin-top: 12%;
}

#deleteUserButton{
  font-family: 'Montserrat', sans-serif;
  background: crimson;
  color:white;
}

.podcast-entries{
  font-family: 'Montserrat', sans-serif;
  height:50%;

}

.index-box{
  margin-top: 100px;
  margin-right: 40px;
}

.button-to-saved-pods{
  margin-top: 20px;
}

.saved-pods{
  background: #333;
  color: white;
  margin-top: 20px;
  height: 100%
}

.saved-pods-display{
  background: #333;
  height:270px;
}

.saved-pod-link{
  color:moccasin;
}

.nav-button-dark{
  background: #333;
  color: white;
  margin-top: 20px;

}

