{% extends 'base.html' %}

{% block content %}
<div class="preferences_new text-center container-fluid">

<h5 class="preferences-header">Choose as many categories as you find interesting</h5>
  <hr>

  <form method="POST" action="{{url_for('users.preferences',id=current_user.id)}}">
    {{form.csrf_token}}
    {% for field in form %}
        {% if field.name != 'csrf_token' %}
        <p>
            {{ field.label }}
            {{ field }}
          <span>
              {% if field.errors %}
                {% for error in field.errors %}
                  {{ error }}
                {% endfor %}
              {% endif %}
          </span>
        </p>
        {% endif %}
      {% endfor %}
    <input type="submit" class="btn btn-success" value="Submit">
  </form>
</div>
{% endblock %}